<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csx.csxspringboot.mapper.DeptMapper">

    <resultMap id="DeptInfo" type="com.csx.csxspringboot.bean.Dept">
        <id column="dId" property="dId" />
        <result column="dName" property="dName" />
    </resultMap>

    <!--List<Dept> getAllInfo();-->
    <select id="getAllInfo" resultMap="DeptInfo">
        select * from dept
    </select>
</mapper>